manifest {
    homePage = 'http://nositeyet.com'
    description = 'Nextflow pipeline for paired end celegance rna-seq illumina reads '
    mainScript = 'main.nf'
    version = '0.1.0'
}

profiles {
    template {
        includeConfig 'conf/template.config'
    }

    sradownlaod {
        process.container = 'najlabioinfo/celegance'
        docker.enabled = true
        docker.cacheDir = "$PWD"
    }
}